{
	"Custom": {
		"EngineCore": {
			"Rating": {{RATING}}
		},
		"WorkOrderCosts": {
			"Install": {
				"TechCost": "0",
				"CBillCost": "{{RATING}} * [[Chassis.Tonnage]]"
			}
		},
		"Category" : { 
			"CategoryID" : "EngineCore" 
		},
		"Flags" : { "flags" : [ "engine_part" ] }
	},
    "DissipationCapacity" : 0,
    "Description" : {
        "Cost" : {{COST}},
        "Rarity" : 0,
        "Purchasable" : true,
        "Manufacturer" : "Vlar",
        "Model" : "Fusion Core",
        "UIName" : "Fusion Core {{RATING}}",
        "Id" : "emod_engine_{{RATING}}",
        "Name" : "Fusion Core {{RATING}}",
        "Details" : "Fusion engines function by harnessing the power of a fusion reaction, running on light hydrogen and protium.\r\nFusion engines are defined by their <b>engine rating</b>. For 'Mechs, the engine rating is the mathematical product of the mass of the vehicle and its desired maximum walking or cruising velocity.",
        "Icon" : "{{ICON}}"
    },
    "BonusValueA" : "{{BONUSA}}",
    "BonusValueB" : "{{BONUSB}}",
    "ComponentType" : "HeatSink",
    "ComponentSubType" : "Heatsink",
    "PrefabIdentifier" : "",
    "BattleValue" : 0,
    "InventorySize" : 2,
    "Tonnage" : {{TONNAGE}},
    "AllowedLocations" : "CenterTorso",
    "DisallowedLocations" : "All",
    "CriticalComponent" : false,
    "statusEffects" : null,
    "ComponentTags" : {
        "items" : [
            "component_type_stock"
        ],
        "tagSetSourceFile" : ""
    }
}
