{
    "DissipationCapacity" : 0,
    "Description" : {
        "Cost" : {{COST}},
        "Rarity" : 0,
        "Purchasable" : true,
        "Manufacturer" : "Generic",
        "Model" : "Vlar Fusion Engine",
        "UIName" : "Std. Engine {{RATING}}",
        "Id" : "emod_engine_std_{{RATING}}",
        "Name" : "Standard Engine {{RATING}}",
        "Details" : "Fusion engines function by harnessing the power of a fusion reaction, running on light hydrogen and protium.\r\nFusion engines are defined by their <b>engine rating</b>. For 'Mechs, the engine rating is the mathematical product of the mass of the vehicle and its desired maximum walking or cruising velocity.",
        "Icon" : "{{ICON}}"
    },
    "BonusValueA" : "",
    "BonusValueB" : "",
    "ComponentType" : "HeatSink",
    "ComponentSubType" : "Heatsink",
    "PrefabIdentifier" : "",
    "BattleValue" : 0,
    "InventorySize" : 6,
    "Tonnage" : {{TONNAGE}},
    "AllowedLocations" : "CenterTorso",
    "DisallowedLocations" : "All",
    "CriticalComponent" : false,
    "statusEffects" : null,
    "ComponentTags" : {
        "items" : [
            "component_type_stock"
        ],
        "tagSetSourceFile" : ""
    }
}
