{
   "ID" : "{{ID}}",
   "RequirementTags" : {
      "items" : [],
      "tagSetSourceFile" : ""
   },
   "ExclusionTags" : {
      "items" : [
      ],
      "tagSetSourceFile" : ""
   },
   "Inventory" : [
{{#ENGINES}}
      {
         "ID" : "{{ID}}",
         "Type" : "HeatSink",
         "DiscountModifier" : 1.0,
         "Count" : 0
      },
{{/ENGINES}}
   ],
   "Specials" : []
}