<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
  	<ReferencePath>C:\Games\Steam\SteamApps\common\BATTLETECH\BattleTech_Data\Managed\publicized_assemblies</ReferencePath>
  </PropertyGroup>
</Project>
